#P1-Army-Header {
    position: absolute;
    left: 70px;
    color: white;
    top: 0px;
}

#P2-Army-Header {
    position: absolute;
    right: 56px;
    color: white;
    top: 0px;
}

#healthBarP1 {
    position: absolute;
    top: 30px;
    left: 15.1%;
    width: 500px;
    height: 20px;
    border: none;
    background-color: #f3f3f3;
}

#healthBarP2 {
    position: absolute;
    top: 30px;
    right: 14.5%;
    width: 500px;
    height: 20px;
    border: none;
    background-color: #f3f3f3;
}

#healthBarP1::-webkit-progress-value {
    background-color: #4caf50;
}

#healthBarP2::-webkit-progress-value {
    background-color: #2196f3;
}

#healthBarP1::-webkit-progress-bar {
    background-color: #ccc;
}

#healthBarP2::-webkit-progress-bar {
    background-color: #ccc;
}


/* Swordsmen */
#SwordsmenP1 {
    position: absolute;
    left: 8.45%;
    top: 80px;
    color: white;
    font-size: 20px;
}

#SwordsmenP2 {
    position: absolute;
    right: 3.9%;
    color: white;
    font-size: 20px;
    top: 80px;
}

#SwordsmenLeftNumberP1 {
    position: absolute;
    left: 8.45%;
    top: 110px;
    color: white;
    font-size: 20px;
}

#SwordsmenLeftNumberP2 {
    position: absolute;
    right:8.6%;
    color: white;
    font-size: 20px;
    top: 110px;
}

/* Wizards */
#WizardsP1 {
    position: absolute;
    right: 8.3%;
    top: 150px;
}

#WizardsP2 {
    position: absolute;
    left: 6.3%;
    top: 150px;
}

#WizardsLeftNumberP1 {
    position: absolute;
    right: 10.74%;
    top: 170px;
}

#WizardsLeftNumberP2 {
    position: absolute;
    left: 6.3%;
    top: 170px;
}

.battle {
    position: absolute;
    top: 22px;
    width: 120px;
    height: 50px;
    left: 48%;
    font-size: 20px;
}